    body {
        background-color: #E0BAF2;
        overflow:hidden;
    }
    
    .lavender {
        background-color: #E0BAF2;
    }

    .textbox {
        border:1px solid rgb(78, 78, 78); 
        border-radius: 20px;
        background-color: rgb(182, 182, 182);
    }

    .emailbox {
        display: flex;
        height: 200px;
        border:1px solid rgb(78, 78, 78); 
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
    .white {
        border:1px solid rgb(78, 78, 78); 
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }

    h5 {
        display: block;
        text-decoration: none;
      }
      
    h5:hover {
        background-color: #e5e5e5;
      }

    .selected {
        border:1px solid rgb(78, 78, 78); 
        border-radius: 20px;
        background-color: #e5e5e5;
    }

    .buttonspace {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .buttonbottom {
        margin-top: 80px;
        margin-bottom: 10px;
    }

    /*Set the row height to the viewport*/
.row-height{
    height: 100vh;
  }
  
  /*Set up the columns with a 100% height, body color and overflow scroll*/
  
  .scroll{
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow-y: scroll;
  }
  
  
  /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  * {
    -ms-overflow-style: none !important;
  }

  .logo {
    color: white;
  }

  ul {
    list-style: none;
  }

  .email {
    border:1px solid rgb(78, 78, 78); 
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
